################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Algorithms/DesignTimeBuild
/.vs/Algorithms/v15/Server/sqlite3
/.vs/Algorithms/v15/.suo
/.vs/TWIAlgorithms/v15/.suo
/.vs
/DataStructures/obj/Debug
/DSOperations/obj/Debug
/Logger/obj/Debug
/MainDemo/.vs/MainDemo/v15
/MainDemo/obj/Debug
/VisualStudio.gitignore
/DataStructures/bin/Debug
/DSOperations/bin/Debug
/Logger/bin/Debug
/MainDemo/bin/Debug
/packages
/Puzzles/bin/Debug
/Puzzles/obj/Debug
/MatrixOperations/obj/Debug
/MatrixOperations/bin/Debug
/Maths/bin/Debug
/Maths/obj/Debug
/Chess/obj/Debug
/Chess/bin/Debug
/Models/bin/Debug
/Models/obj/Debug
